@import 'head';

* {
    box-sizing: border-box;
    line-height: 0;
    margin: 0;
    padding: 0;
}

body {
    background: url($pattern-background-dark) repeat;
    background-color: $color-dark;
    color: $color-light;

    &.debug {
        color: $color-debug;

        .tile {
            box-shadow: inset 0 0 11px 1px $color-boxshadow;
        }
    }
}

.hud {
    display: block;
    position: fixed;
}

.viewport {
    background-color: $color-viewport;
    box-shadow: 0 0 50px 15px $color-boxshadow;
    height: 90vh;
    left: 50vw;
    overflow: hidden;
    position: fixed;
    top: 50vh;
    width: 90vw;

    .world {
        left: 0;
        position: absolute;
        top: 0; //transition: transform 0.25s linear;
    }

    .layer {
        display: block;
        position: absolute;

        &.space {
            background-color: $color-dark;
        }

        .zlayer {
            position: absolute;
        }
    }


    .tile {
        display: inline-block;
        height: 32px;
        position: relative;
        width: 32px;

        div {
            //
            background-repeat: no-repeat;
            background-size: cover;
            height: inherit;
            position: absolute;
            width: inherit;

            &.mask {
                width: inherit;
            }

            &.backdrop {
                background-image: url('/_resources/imgs/tiles/world/concept/blocks/plain/1.png');
                background-repeat: no-repeat;
                background-size: cover;
                // z-index: -1;
            }
        }

        &.solid,
        &.destructible,
        &.liquid {
            box-sizing: border-box;

            .mask {
                border-width: 5px;
            }

            > div {
                background-repeat: no-repeat;
                background-size: cover;
                box-sizing: border-box;
                height: 100%;
                position: absolute;
                width: 100%;

                div {
                    background-repeat: no-repeat;
                    background-size: cover;
                    // display: none;
                    height: 100%;
                    position: absolute;
                    width: 100%;

                    &.show {
                        display: block;
                    }
                }
            }

            .above {
                background-image: url('/_resources/imgs/tiles/world/concept/above/1.png');
                display: none;
                height: 64px;
                top: -64px;
            }

            .below {
                background-image: url('/_resources/imgs/tiles/world/concept/below/1.png');
                //display: none;
                height: 160px;
                top: 32px;
            }

            &.t0 {
                .mask {
                    border-top: 3px solid $color-border-top;
                }
            }

            &.b0 {
                .mask {
                    // border-bottom: 3px solid $color-border-bottom;
                }
            }

            &.l0 {
                .mask {
                    border-left: 3px solid $color-border-left;
                }
            }

            &.r0 {
                .mask {
                    // border-right: 3px solid $color-border-right;
                }
            }

            &.mask-0110 {
                .mask {
                    // clip-path: url('#mask-0110');
                }
            }

            &.mask-0011 {
                .mask {
                    // clip-path: url('#mask-0011');
                }
            }

            &.mask-1100 {
                .mask {
                    // clip-path: url('#mask-1100');
                }
            }

            &.mask-1001 {
                .mask {
                    // clip-path: url('#mask-1001');
                }
            }

            &.mask-0100 {
                .mask {
                    // clip-path: url('#mask-0100');
                }
            }

            &.mask-0001 {
                .mask {
                    // clip-path: url('#mask-0001');
                }
            }

            &.mask-1000 {
                .mask {
                    //  clip-path: url('#mask-1000');
                }
            }

            &.mask-0010 {
                .mask {
                    // clip-path: url('#mask-0010');
                }
            }

            &.mask-0000 {
                .mask {
                    // clip-path: url('#mask-0000');
                }
            }

            &.liquid {
                &.mask-0110 {
                    .mask {
                        clip-path: url('#mask-0110');
                    }
                }

                &.mask-0011 {
                    .mask {
                        clip-path: url('#mask-0011');
                    }
                }

                &.mask-1100 {
                    .mask {
                        clip-path: url('#mask-1100');
                    }
                }

                &.mask-1001 {
                    .mask {
                        clip-path: url('#mask-1001');
                    }
                }

                &.mask-0100 {
                    .mask {
                        clip-path: url('#mask-0100');
                    }
                }

                &.mask-0001 {
                    .mask {
                        clip-path: url('#mask-0001');
                    }
                }

                &.mask-1000 {
                    .mask {
                        clip-path: url('#mask-1000');
                    }
                }

                &.mask-0010 {
                    .mask {
                        clip-path: url('#mask-0010');
                    }
                }

                &.mask-0000 {
                    .mask {
                        clip-path: url('#mask-0000');
                    }
                }

                &.t0 {
                    .mask {
                        border-top: 3px solid $color-border-bottom;
                    }
                }

                &.b0 {
                    .mask {
                        border-bottom: 3px solid $color-border-top;
                    }
                }

                &.l0 {
                    .mask {
                        border-left: 3px solid $color-border-right;
                    }
                }

                &.r0 {
                    .mask {
                        border-right: 3px solid $color-border-left;
                    }
                }
            }
        }

        button {
            height: 25px;
            width: 100px;
        } // .blur {
        //     // filter: blur(64px);
        // }
    }


    .life {
        &.player {
            background-image: url('/_resources/imgs/player/player.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 80%;
            display: inline-block;
            height: 32px;
            position: relative;
            // width: 32px;

            &.dir0-1 {
                background-image: url('/_resources/imgs/player/up.png');
            }

            &.dir10 {
                background-image: url('/_resources/imgs/player/right.png');
            }

            &.dir01 {
                background-image: url('/_resources/imgs/player/down.png');
            }

            &.dir-10 {
                background-image: url('/_resources/imgs/player/left.png');
            }

        }
    }
}
