$color-dark: rgba(0, 0, 0, 1);
$color-light: rgba(255, 255, 255, 1);
$color-debug: rgba(255, 0, 0, 1);
$color-viewport: rgba(0, 0, 0, .2);
$color-boxshadow: rgba(0, 0, 0, .35);
$color-border-top: rgba(255, 255, 255, .5);
$color-border-right: rgba(255, 255, 255, .2);
$color-border-bottom: rgba(0, 0, 0, .5);
$color-border-left: rgba(0, 0, 0, .2);
$pattern-background-dark: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAAHUlEQVR4AWMQERdhYACREMQA4cARKgdNJUIeLgEAxTAE7YP5304AAAAASUVORK5CYII=';
$pattern-background-1: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAM0lEQVQYV2N8/eL1fxFxEYY3L98wwADj/////yMLgCQYQSrhShgYGEC6UARhxsAFkc0FAN84HvYrKnrvAAAAAElFTkSuQmCC';
